*{
    margin:0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;

}

.img-container{
    width: 400px;
    height: 400px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: 0.2s;
}
.img-container:hover{
   transform: scale(1.2) translateY(40px);
}

button{
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
    background-color: rgb(30, 97, 241);
    transition: 0.2s;
    color: white;
    font-size: 2rem;
}

button:hover{
    color: black;
    transform: scale(1.1)
}